body {
    margin: 0;
    background-color: #fafafa!important;
    /* max-width: 100vw; */
    /* overflow-x: hidden; */
}

.nav-item .nav-icon {
    width: 1.3rem;
    filter: invert(59%) sepia(7%) saturate(4%) hue-rotate(315deg) brightness(80%) contrast(91%);
    /* margin-right: 5px; */
    vertical-align: middle;
}

.colorYes {
    background-color: #c1c1c1 !important;
}

.find-courses-title {
    margin: 0 0 25px;
}

.brainster-logo {
    max-width: 100%;
    height: 33px;
    display: block;
    margin-left: 19px;
    margin-right: 10px;
}

.social-logo {
    max-width: 100%;
    height: 27px;
}

.full-name-icon {
    position: absolute;
    transform: translate(32%, -118%);
    opacity: 0.7;
    height: 18px;
    margin-left: 8px;
    margin-top: -6px;
}

.email-icon {
    position: absolute;
    transform: translate(32%, -118%);
    opacity: 0.3;
    height: 19px;
    margin-left: -5px;
    margin-top: -4px;
}

.password-icon {
    position: absolute;
    transform: translate(32%, -118%);
    opacity: 0.7;
    height: 19px;
    margin-left: 9px;
    margin-top: -5px;
}

.logo-text {
    font-size: 12px;
    color: rgba(0, 0, 0, .5)
}

.already-registered {
    margin-top: 20px;
    margin-left: 123px;
}

.form-holder {
    position: relative;
}

.btn-primary>.admin-btn {
    text-decoration: none;
    color: white;
}

.right-nav-btn {
    margin: 3px;
}

.navbar {
    background-color: #fff;
}

.navbar-search-input {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.11);
    border-color: #EEEEEE;
    z-index: 1!important;
    height: 51px;
    font-size: 18px;
    padding: 6px 18px 7px 45px;
    background-color: #FFFFFF!important;
}

.icon {
    left: 12px;
    font-size: 18px;
    padding-left: 2px;
    opacity: 0.7;
    color: var(--theme-primary-light);
    z-index: 2;
    transition: all .2s linear;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%) scale(1.1);
}

input[type=text] {
    padding-left: 40px;
}

.tut-list .vote-widget {
    width: 62px;
    height: 68px;
    /* background: #f5f5f5; */
    border: 1px solid rgba(188, 188, 189, .3);
}

.tut-vote .vote-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55px;
    height: 60px;
    justify-content: center;
    font-size: 16px;
    padding: 10px 14px;
    /* background: #f9f9f9; */
    color: #7a7a7a;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    transition: .1s background-color, .1s border-color, .1s color, .1s fill;
}

.hidden {
    display: none;
}

.tut-list .vote-widget .arrow {
    color: #7b7b7b;
}

.tut-vote .arrow .arrow-img.gray {
    width: 11px;
    filter: brightness(0) contrast(100%) invert(50%);
}

.color-filter {
    filter: brightness(0) saturate(100%) invert(30%) sepia(62%) saturate(2703%) hue-rotate(200deg) brightness(101%) contrast(107%);
}

.logo {
    display: block;
    width: 69px;
    /* height: auto; */
    margin-left: -10%;
    margin-top: -3%;
    padding-bottom: 15%;
}

.filters-names {
    padding: 1px;
}

.panel {
    background-color: #f4f7fb!important;
    border-color: #007aff!important;
    min-height: 550px;
    margin-bottom: 20px;
    /* background-color: #fff; */
    border: 1px solid transparent;
    border-radius: 4px;
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    /* padding: 15px; */
}

.intro-panel .panel-body {
    position: relative;
    border-radius: 3px;
    padding: 15px;
    margin-top: -23px;
}

.paddingtop-xs {
    padding-top: 5px!important;
}

.no-paddingleft {
    padding-left: 0!important;
}

.panel-heading {
    padding: 12px;
}

.topic-grid-item {
    min-height: 75px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    margin-bottom: 17px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: .1s linear all;
    width: 32%;
    margin-left: .5%;
    margin-right: .5%;
}

.topic-grid-item:hover {
    background-color: #FFFFFF;
    color: #2b2b2b;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    transition: .1s linear all;
    transform: translateY(-2px);
    border: 1px solid #EEEEEE;
    text-decoration: none;
}

.topic-grid-item p {
    margin: 0;
    color: #383838;
    font-size: 16px;
}

.topic-grid-item p {
    font-size: 16px!important;
    font-weight: 400!important;
}

.top-tut-container {
    display: flex;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.courses-main-content {
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 0;
    /* margin-right: 10px; */
    align-self: baseline;
    background-color: #fff;
}

.tut-list {
    background: #ffffef;
    display: block;
    padding: 20px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
}

.tut-list:hover {
    background-color: #f9f9f9;
}

.title>.title-links {
    font-size: 18px;
    display: inline-block;
    line-height: 1.2;
    color: black;
}

.title>.title-links:hover {
    color: blue;
}

.label-primary {
    background-color: #eef4fa;
    color: #007aff;
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 4px!important;
    font-weight: 700;
}

.label-primary:hover {
    cursor: pointer!important;
}

.submitedBy {
    margin-top: 15px;
}

.modal-message {
    font-size: 1rem;
    padding: 5px;
    color: #4d7aff;
    background-color: #f4f7fb;
    border-radius: 19px;
}

.btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 3px;
}

.btn-gmail {
    background-color: #dc493d;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 3px;
}

.btn-github {
    background-color: #262626;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 3px;
}

.btn-facebook>a,
.btn-gmail>a,
.btn-github>a {
    color: white;
}

.btn-facebook>a:hover,
.btn-gmail>a:hover,
.btn-github>a:hover {
    color: lightgrey;
}

.btn-facebook>a:focus,
.btn-gmail>a:focus,
.btn-github>a:focus {
    outline: none;
    box-shadow: none;
}

.confirm-email {
    color: #e14a4a;
    background-color: #f4f7fb;
    border: black;
    padding: 15px;
    padding: 8px;
    margin-bottom: -1px;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.footer {
    background-color: #ffffff;
    height: 40px;
}